<footer id="footer">
    <div class="container">
        <div id="faq">
            <h3>Frequent Asked Questions</h3>
            <div class="wrapper">
                <div class="item">
                    <h2>Pricing</h2>
                    <ul>
                        <li>Lorem ipsum dolor sit. <i class=" icon fa fa-plus" aria-hidden="true"></i>
                        </li>
                        <span class="hidden">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla iure,
                            error explicabo
                            alias
                            architecto maiores quam consectetur impedit modi delectus?</span>
                        <li>Lorem ipsum dolor sit. <i class="icon fa fa-plus" aria-hidden="true"></i>
                        </li>
                        <span class="hidden">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla iure,
                            error explicabo
                            alias
                            architecto maiores quam consectetur impedit modi delectus?</span>
                        <li>Lorem ipsum dolor sit. <i class="icon fa fa-plus" aria-hidden="true"></i>
                        </li>
                        <span class="hidden">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla iure,
                            error explicabo
                            alias
                            architecto maiores quam consectetur impedit modi delectus?</span>
                        <li>Lorem ipsum dolor sit. <i class="icon fa fa-plus" aria-hidden="true"></i>
                        </li>
                        <span class="hidden">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla iure,
                            error explicabo
                            alias
                            architecto maiores quam consectetur impedit modi delectus?</span>
                        <li>Lorem ipsum dolor sit. <i class="icon fa fa-plus" aria-hidden="true"></i>
                        </li>
                        <span class="hidden">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla iure,
                            error explicabo
                            alias
                            architecto maiores quam consectetur impedit modi delectus?</span>
                    </ul>
                </div>
                <div class="item desktopOnly">
                    <h2>Pricing</h2>
                    <ul>
                        <li>Lorem ipsum dolor sit. <i class=" icon fa fa-plus" aria-hidden="true"></i>
                        </li>
                        <span class="hidden">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Nulla iure,
                            error explicabo
                            alias
                            architecto maiores quam consectetur impedit modi delectus?</span>
                        <li>Lorem ipsum dolor sit. <i class="icon fa fa-plus" aria-hidden="true"></i>
                        </li>
                        <span class="hidden">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Nulla iure,
                            error explicabo
                            alias
                            architecto maiores quam consectetur impedit modi delectus?</span>
                        <li>Lorem ipsum dolor sit. <i class="icon fa fa-plus" aria-hidden="true"></i>
                        </li>
                        <span class="hidden">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Nulla iure,
                            error explicabo
                            alias
                            architecto maiores quam consectetur impedit modi delectus?</span>
                        <li>Lorem ipsum dolor sit. <i class="icon fa fa-plus" aria-hidden="true"></i>
                        </li>
                        <span class="hidden">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Nulla iure,
                            error explicabo
                            alias
                            architecto maiores quam consectetur impedit modi delectus?</span>
                        <li>Lorem ipsum dolor sit. <i class="icon fa fa-plus" aria-hidden="true"></i>
                        </li>
                        <span class="hidden">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Nulla iure,
                            error explicabo
                            alias
                            architecto maiores quam consectetur impedit modi delectus?</span>
                    </ul>
                </div>

            </div>
        </div>

        <div class="links">
            <ul>
                <li>
                    <h2>About Us:</h2>
                    <p>Lorem ipsum dolor sit.</p>
                </li>
                <li>
                    <h2>Contact Us:</h2>
                    <p>Lorem ipsum dolor sit.</p>
                </li>
                <li>
                    <h2>Address:</h2>
                    <p>Lorem ipsum dolor sit.</p>
                </li>
                <li>
                    <h2>Careers:</h2>
                    <p>Lorem ipsum dolor sit.</p>
                </li>
            </ul>
        </div>
        <p id="tm">Copyright 2017-2020 Insilico.
            <br> All Rights Reserved.
        </p>

    </div>
</footer>

</body>
<script src="https://unpkg.com/scroll-out/dist/scroll-out.min.js"></script>
<script>
    // if ($(window).width() <= 479) {}
    if (document.documentElement.clientWidth > 479) {
        ScrollOut();
    }

</script>

</html>
