<footer id="footer">
    <div class="container">
        <div id="faq">
            <h3>Frequently Asked Questions</h3>
            <div class="wrapper">
                <div class="item">
                    <button class="accordionButton">
                        Can I cancel my subscription at any time?
                    </button>
                    <div class="accordionContent">
                        Yes! We have multiple packages for specific indicators that are monthly subscriptions. We
                        also have a comprehensive package that includes all the indicators! These are all monthly
                        subscriptions and can be canceled at any time.
                    </div>
                    <button class="accordionButton">
                        How do I get access to the trading suites?
                    </button>
                    <div class="accordionContent">
                        All the trading suites are indicators on TradingView, simply make an account on their
                        website, give us your account name and we will grant access to the trading suite you
                        ordered!
                    </div>
                    <button class="accordionButton">
                        Will there be updates to the trading suites?
                    </button>
                    <div class="accordionContent">
                        Yes, there will be updates at least every quarter as we receive more feedback from traders
                        and constantly work to improve our indicators. Updates will be added automatically to each
                        indicator when we publish them and you will get an alert when they come out.
                    </div>
                    <button class="accordionButton">
                        Is there a Dedicated Discord Server?
                    </button>
                    <div class="accordionContent">
                        Yes! We have a discord that’s free to join. There is a large community of traders currently
                        using the trading suites that you can discuss with! You can join <a href="/discord"> here</a>
                    </div>
                </div>
                <div class="item">
                    <button class="accordionButton">
                        Is TradingView free?
                    </button>
                    <div class="accordionContent">
                        Yes TradingView has free charts and paid charts which just allow you to add more
                        indicators. Our indicators are all compatible with the free version.
                    </div>
                    <button class="accordionButton">
                        Can these indicators be used for any market?
                    </button>
                    <div class="accordionContent">
                        Yes these indicators will provide actionable signals and comprehensive market analysis for
                        any tradingview ticker.
                    </div>
                    <button class="accordionButton">
                        Can I pay using Bitcoin?
                    </button>
                    <div class="accordionContent">
                        Yes! We do accept Bitcoin.
                    </div>
                    <button class="accordionButton">
                        Can I pay using Credit Card?
                    </button>
                    <div class="accordionContent">
                        We're currently working on that feature.
                    </div>
                </div>
            </div>
        </div>

        <div class="links">
            <ul>
                <li>
                    <h2>About Us:</h2>
                    <p>The InSilico suite of indicators includes a wide range of tools, each precisely designed for
                        different trading styles including; momentum, mean reversion, volume analysis, and more.</p>
                </li>
                <li>
                    <h2>Contact Us:</h2>
                    <p><a href="/contact">Contact Form</a></p>
                </li>
                <li>
                    <h2>Location:</h2>
                    <p>Cheynne, Wyoming</p>
                </li>
                <li>
                    <h2>Email:</h2>
                    <p>InSilicoTrading@protonmail.com</p>
                </li>
            </ul>
        </div>
        <p id="tm">Copyright 2017-2020 Insilico.
            <br> All Rights Reserved.
        </p>

    </div>
</footer>

</body>

<script src="/js/frontEnd.js"></script>
<script src="https://unpkg.com/scroll-out/dist/scroll-out.min.js"></script>
<script>
    if (document.documentElement.clientWidth > 479) {
        ScrollOut();
    }

</script>

</html>
