<footer id="footer">
    <div class="container">
        <div id="faq">
            <h3>Frequent Asked Questions</h3>
            <div class="wrapper">
                <div class="item">
                    <ul>
                        <li>Can I cancel my subscription at any time? <i class=" icon fa fa-plus"
                                aria-hidden="true"></i>
                        </li>
                        <span class="hidden">Yes! We have multiple packages for specific indicators that are monthly
                            subscriptions. We
                            also have a comprehensive package that includes all the indicators! These are all monthly
                            subscriptions and can be canceled at any time.</span>
                        <li>How do I get access to the trading suites?<i class="icon fa fa-plus" aria-hidden="true"></i>
                        </li>
                        <span class="hidden">All the trading suites are indicators on TradingView, simply make an
                            account on their
                            website, give us your account name and we will grant access to the trading suite you
                            ordered!</span>
                        <li>Will there be updates to the trading suites? <i class="icon fa fa-plus"
                                aria-hidden="true"></i>
                        </li>
                        <span class="hidden">Yes, there will be updates at least every quarter as we receive more
                            feedback from traders
                            and constantly work to improve our indicators. Updates will be added automatically to each
                            indicator when we publish them and you will get an alert when they come out.</span>
                        <li>Is there a Dedicated Discord Server?<i class="icon fa fa-plus" aria-hidden="true"></i>
                        </li>
                        <span class="hidden">Yes! We have a discord that’s free to join. There is a large community of
                            traders currently
                            using the trading suites that you can discuss with! You can join <a
                                href="#discordlink***">here</a></span>
                        <li>Is TradingView free?<i class="icon fa fa-plus" aria-hidden="true"></i>
                        </li>
                        <span class="hidden">Yes TradingView has free charts and paid charts which just allow you to add
                            more
                            indicators. Our indicators are all compatible with the free version.</span>
                    </ul>
                </div>
                <div class="item desktopOnly">
                    <ul>
                        <li>Can I pay using Bitcoin?<i class=" icon fa fa-plus" aria-hidden="true"></i>
                        </li>
                        <span class="hidden">We're currently working on that</span>
                        <li>Can these indicators be used for any market?<i class="icon fa fa-plus"
                                aria-hidden="true"></i>
                        </li>
                        <span class="hidden">Yes these indicators will provide actionable signals and comprehensive
                            market analysis for
                            any tradingview ticker.</span>
                        <li>Lorem ipsum dolor sit. <i class="icon fa fa-plus" aria-hidden="true"></i>
                        </li>
                        <span class="hidden">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Nulla iure,
                            error explicabo
                            alias
                            architecto maiores quam consectetur impedit modi delectus?</span>
                        <li>Lorem ipsum dolor sit. <i class="icon fa fa-plus" aria-hidden="true"></i>
                        </li>
                        <span class="hidden">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Nulla iure,
                            error explicabo
                            alias
                            architecto maiores quam consectetur impedit modi delectus?</span>
                        <li>Lorem ipsum dolor sit. <i class="icon fa fa-plus" aria-hidden="true"></i>
                        </li>
                        <span class="hidden">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Nulla iure,
                            error explicabo
                            alias
                            architecto maiores quam consectetur impedit modi delectus?</span>
                    </ul>
                </div>

            </div>
        </div>

        <div class="links">
            <ul>
                <li>
                    <h2>About Us:</h2>
                    <p>Lorem ipsum dolor sit.</p>
                </li>
                <li>
                    <h2>Contact Us:</h2>
                    <p><a href="/contact">contact form</a></p>
                </li>
                <li>
                    <h2>Address:</h2>
                    <p>Lorem ipsum dolor sit.</p>
                </li>
                <li>
                    <h2>Email:</h2>
                    <p>InSilicoTrading@protonmail.com</p>
                </li>
            </ul>
        </div>
        <p id="tm">Copyright 2017-2020 Insilico.
            <br> All Rights Reserved.
        </p>

    </div>
</footer>

</body>
<script src="https://unpkg.com/scroll-out/dist/scroll-out.min.js"></script>
<script>
    // if ($(window).width() <= 479) {}
    if (document.documentElement.clientWidth > 479) {
        ScrollOut();
    }

</script>

</html>
