    <section data-scroll id="tutorials">
        <h3>Expert Advice:</h3>
        <div class="wrapper">
            <div class="card box">
                <h2>Trend Buddy</h2>
                <img src="images/thumbnail.jpg" alt="">
                <a class="button primary" href="/lesson/MzAyNTgz">Watch Now</a>
            </div>
            <div class="card box">
                <h2>PAL</h2>
                <img src="images/thumbnail.jpg" alt="">

                <a class="button primary" href="/lesson/MzAyNTc4">Watch Now</a>
            </div>
            <div class="card box">
                <h2>Heuristics</h2>
                <img src="images/thumbnail.jpg" alt="">
                <a class="button primary" href="/lesson/MzAyNTc5">Watch Now</a>
            </div>
            <div class="card box">
                <h2>FSVZO</h2>
                <img src="images/thumbnail.jpg" alt="">
                <a class="button primary" href="/lesson/MzAyNTgy">Watch Now</a>
            </div>
            <div class="card box">
                <h2>Crayons</h2>
                <img src="images/thumbnail.jpg" alt="">
                <a class="button primary" href="/lesson/MzAzMDQy">Watch Now</a>
            </div>
            <div class="card box">
                <h2>Genie</h2>
                <img src="images/thumbnail.jpg" alt="">
                <a class="button primary" href="/lesson/MzAyNTc2">Watch Now</a>
            </div>
        </div>
    </section>
