    <section data-scroll id="tutorials">
        <h3>More lessons here:</h3>
        <div class="wrapper">
            <div class="card box">
                <h2>Trend Buddy</h2>
                <img src="images/thumbnail.jpg" alt="">
                <a class="button primary" href="/">Watch Now</a>
            </div>
            <div class="card box">
                <h2>PAL</h2>
                <img src="images/thumbnail.jpg" alt="">

                <a class="button primary" href="/">Watch Now</a>
            </div>
            <div class="card box">
                <h2>Heuristics</h2>
                <img src="images/thumbnail.jpg" alt="">
                <a class="button primary" href="/">Watch Now</a>
            </div>
            <div class="card box">
                <h2>FSVZO</h2>
                <img src="images/thumbnail.jpg" alt="">
                <a class="button primary" href="/">Watch Now</a>
            </div>
            <div class="card box">
                <h2>Crayons</h2>
                <img src="images/thumbnail.jpg" alt="">
                <a class="button primary" href="/">Watch Now</a>
            </div>
            <div class="card box">
                <h2>Genie</h2>
                <img src="images/thumbnail.jpg" alt="">
                <a class="button primary" href="/">Watch Now</a>
            </div>
        </div>
    </section>
