<%- include('partials/header'); %>
<img src="svg/form.svg" class="bgIllustration" alt="">
<section id="account">
    <% if (currentUser) { %>
    <h1> <%= currentUser.name %></h1>
    <% } %>
    <div class="wrapper left box">
        <div class="avatar"><img src="images/avatar/default.png" alt=""></div>
    </div>
    <div class="wrapper right box">

    </div>
</section>
<%- include('partials/footer'); %>
