<%- include('partials/header'); %>
<section id="checkout">
    <div class="container">

        <!-- create a form -->

        <!-- send that form info to server -->

        <!-- display a message -->

    </div>
</section>
<%- include('partials/footer'); %>
