<%- include('partials/header'); %>
<img src="svg/form.svg" class="bgIllustration" alt="">
<section id="form">
    <h3>Forgotten Password</h3>
    <div class="wrapper box">
        <form action="/forgot" method="POST" id="contactForm">
            <% if(err){ %>
            <p><%= err %></p>
            <% } %>
            <label for="email">Your Current E-mail Address</label>
            <input type="email" name="email" autofocus class="form-control">
            <input type="submit" class="button primary" value="Reset Password">
        </form>
    </div>
</section>

<%- include('partials/footer'); %>
