<%- include('partials/header'); %>
<div class="bg"></div>
<div class="container">
    <section id="home">
        <div class="wrapper">
            <div class="content">
                <h3>Why Insilico?</h3>
                <p>InSilico offers a suite of technical indicators which gives traders access to raw market data
                    visualized
                    in
                    ways
                    which can help provide a deeper level of analysis, and help in making timely, informed trading
                    decisions.
                    The
                    InSilico suite of indicators includes a wide range of tools, each precisely designed for different
                    trading
                    styles including; momentum, mean reversion, volume analysis, and more. <span class="hidden">Our
                        indicators
                        are
                        suitable
                        across any
                        time frame and may be adapted for use in long-term analysis, down to micro-timeframe scalping.
                        InSilico
                        technical indicators can help traders master the markets by presenting complex market data in a
                        way
                        which
                        allows
                        them to quickly identify shifts in market behavior as they are occurring giving traders a more
                        comprehensive
                        picture of the current market structure allowing them to execute better trades.</span>
                </p>
                <button id="toggleButton" class="button primary">Read More</button>
                <a href="#pricing" class="button secondary">Start Now</a>
            </div>
            <div class="illustration"><img src="svg/curve.svg" alt=""></div>
        </div>
    </section>
    <div id="ticker" class="desktopOnly">
        <ul>
            <li>GBP/USD - 1.2123</li>
            <li class="bad">-0.19%</li>
        </ul>
        <ul>
            <li>GBP/USD - 1.2123</li>
            <li class="bad">-0.19%</li>
        </ul>
        <ul>
            <li>GBP/USD - 1.2123</li>
            <li class="good">-0.19%</li>
        </ul>
    </div>
    <section id="features">
        <div data-scroll="" class="wrapper">
            <div class="text">
                <h3>Lorem, ipsum.</h3>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Possimus, natus blanditiis vero excepturi
                    nobis quaerat a cupiditate est nulla rerum molestiae labore et iste? Ratione?
                    <span class="hidden">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil earum natus
                        beatae illo aut quis modi nostrum blanditiis a quo.</span>
                </p>
                <button id="toggleButton" class="button primary">Read More</button>
            </div>
            <div class="illustration">
                <img src="svg/calendar.svg" alt="">
            </div>
        </div>
        <!-- second pair  -->
        <div data-scroll class="wrapper alt">
            <div class="text">
                <h3>Lorem, ipsum.</h3>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Possimus, natus blanditiis vero excepturi
                    nobis quaerat a cupiditate est nulla rerum molestiae labore et iste? Ratione?
                    <span class="hidden">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil
                        earum natus
                        beatae illo aut quis modi nostrum blanditiis a quo.</span>
                </p>
                <button id="toggleButton" class="button primary">Read More</button>.
            </div>
            <div class="illustration">
                <img src="svg/office.svg" alt="">
            </div>
        </div>
        <!-- third pair -->
        <div data-scroll class="wrapper last">
            <div class="text">
                <h3>Lorem, ipsum.</h3>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Possimus, natus blanditiis vero excepturi
                    nobis quaerat a cupiditate est nulla rerum molestiae labore et iste? Ratione?
                    <span class="hidden">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil
                        earum natus
                        beatae illo aut quis modi nostrum blanditiis a quo.</span>
                </p>
                <button id="toggleButton" class="button primary">Read More</button>
            </div>
            <div class="illustration desktopOnly">
                <img src="svg/floating.svg" alt="">
            </div>
        </div>
    </section>
    <section data-scroll class="alt" id="pricing">
        <h3>What plans do we have for <span>your</span> growth?</h3>

        <div class="wrapper">
            <!-- FIRST PLAN -->
            <div class="item box">
                <div class="title">
                    <h3>basic</h3>
                    <p>For those who are just starting out</p>
                </div>
                <div class="details">

                    <p class="price">$<span>49</span>/mo</p>
                    <p>Lorem ipsum dolor sit amet.</p>
                    <ul>
                        <li><i class="fa fa-check" aria-hidden="true"></i>

                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. .</li>
                        <i class="fa fa-check" aria-hidden="true"></i>
                        <li>
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. esladkadp ep.</li>

                        <li> <i class="fa fa-check" aria-hidden="true"></i>
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque nisi amet perferendis vero
                            necessitatibus.</li>
                    </ul>
                    <div class="cta"><a href="/checkout" class="button primary">BUY NOW</a></div>
                </div>
            </div>
            <!-- SECOND -->
            <div class="item box">
                <div class="title">
                    <h3>intermediate</h3>
                    <p>There's still a lot to learn</p>
                </div>
                <div class="details">

                    <p class="price">$<span>99</span>/mo</p>
                    <p>Lorem ipsum dolor sit amet.</p>
                    <ul>
                        <li><i class="fa fa-check" aria-hidden="true"></i>

                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. .</li>
                        <i class="fa fa-check" aria-hidden="true"></i>
                        <li>
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. esladkadp ep.</li>

                        <li> <i class="fa fa-check" aria-hidden="true"></i>
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque nisi amet perferendis vero
                            necessitatibus.</li>
                    </ul>
                    <div class="cta"><a href="/checkout" class="button primary">BUY NOW</a></div>
                </div>
            </div>
            <!-- THIRD -->
            <div class="item box">
                <div class="title">
                    <h3>advanced</h3>
                    <p>You know what you're doing!</p>
                </div>
                <div class="details">

                    <p class="price">$<span>149</span>/mo</p>
                    <p>Lorem ipsum dolor sit amet.</p>
                    <ul>
                        <li><i class="fa fa-check" aria-hidden="true"></i>

                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. .</li>
                        <i class="fa fa-check" aria-hidden="true"></i>
                        <li>
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. esladkadp ep.</li>

                        <li> <i class="fa fa-check" aria-hidden="true"></i>
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque nisi amet perferendis vero
                            necessitatibus.</li>
                    </ul>
                    <div class="cta"><a href="/checkout" class="button primary">BUY NOW</a></div>
                </div>
            </div>
        </div>
    </section>
    <%- include("partials/tutorials") %>
    <div data-scroll class="alt" id="testimonials">
        <h3>what do our <span>partners</span> think about us?</h3>
        <div class="wrapper">
            <div class="card">
                <div class="top">
                    <p>
                        <span class="quote">“</span>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut vero
                        maiores ea sequi temporibus
                        <span class="quote closing">„</span>
                    </p>
                </div>
                <div class="bottom">
                    <img src="images/portrait-1.jpg" class="avatar" alt="">
                    <div class="text">
                        <h2>John Doe</h2>
                        <h2><span>Customer</span></h2>
                        <div class="stars"> <i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="top">
                    <p>
                        <span class="quote">“</span>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut vero
                        maiores ea sequi temporibus
                        <span class="quote closing">„</span>
                    </p>
                </div>
                <div class="bottom">
                    <img src="images/portrait-1.jpg" class="avatar" alt="">
                    <div class="text">
                        <h2>John Doe</h2>
                        <h2><span>Customer</span></h2>
                        <div class="stars"> <i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="top">
                    <p>
                        <span class="quote">“</span>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut vero
                        maiores ea sequi temporibus
                        <span class="quote closing">„</span>
                    </p>
                </div>
                <div class="bottom">
                    <img src="images/portrait-1.jpg" class="avatar" alt="">
                    <div class="text">
                        <h2>John Doe</h2>
                        <h2><span>Customer</span></h2>
                        <div class="stars"> <i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<%- include('partials/footer'); %>
