<%- include('partials/header'); %>
<div class="bg"></div>
<div class="container">
    <section id="home">
        <div class="wrapper">
            <div class="content">
                <h3>WHY INSILICO?</h3>
                <p>InSilico offers a suite of technical indicators which gives traders access to raw market data
                    visualized
                    in
                    ways
                    which can help provide a deeper level of analysis, and help in making timely, informed trading
                    decisions. <span class="desktopOnly">The
                        InSilico suite of indicators includes a wide range of tools, each precisely designed for
                        different
                        trading
                        styles including; momentum, mean reversion, volume analysis, and more. </span>
                    <span class="hidden">Our
                        indicators
                        are
                        suitable
                        across any
                        time frame and may be adapted for use in long-term analysis, down to micro-timeframe scalping.
                        InSilico
                        technical indicators can help traders master the markets by presenting complex market data in a
                        way
                        which
                        allows
                        them to quickly identify shifts in market behavior as they are occurring giving traders a more
                        comprehensive
                        picture of the current market structure allowing them to execute better trades.</span>
                </p>
                <a href="#pricing" class="button primary">Enhance your trading now</a>
            </div>
            <div class="illustration">
                <img src="svg/predictive.svg" alt="">
            </div>
        </div>
        <!-- TradingView Widget BEGIN -->
        <div class="tradingview-widget-container">
            <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-tickers.js"
                async>
                {
                    "symbols": [{
                            "proName": "BITSTAMP:BTCUSD",
                            "title": "BTC/USD"
                        },
                        {
                            "proName": "FOREXCOM:SPXUSD",
                            "title": "S&P 500"
                        },
                        {
                            "proName": "BITSTAMP:ETHUSD",
                            "title": "ETH/USD"
                        }
                    ],
                    "colorTheme": "dark",
                    "isTransparent": false,
                    "locale": "en"
                }

            </script>
        </div>
        <!-- TradingView Widget END -->
    </section>
    <section id="features">
        <div data-scroll="" class="wrapper">
            <div class="text">
                <h3>MARKET VIEWS</h3>
                <p>
                    Insilico offers packages of trading indicators and algorithms so traders can gain more
                    comprehensive market views. </p>
                <a href="#pricing" class="button primary">PLANS</a>

            </div>
            <div class="illustration">
                <img src="images/chart1.png" alt="">
            </div>
        </div>
        <!-- second pair  -->
        <div data-scroll class="wrapper alt">
            <div class="text">
                <h3>AN EDGE OVER THE MARKET</h3>
                <p>
                    Each indicator is specifically tailored to individual traders
                    trading styles in order to give them an edge over the market.</span>
                </p>
                <!-- <button id="toggleButton" class="button primary">Read More</button> -->
                <a href="#pricing" class="button primary">PLANSS</a>

            </div>
            <div class="illustration">
                <img src="images/chart2.png" alt="">
            </div>
        </div>
        <!-- third pair -->
        <div data-scroll class="wrapper last">
            <div class="text">
                <h3>THE BEST FOR THE BEST</h3>
                <p>
                    Insilico has been providing
                    indicators and market data to notable traders in the CryptoCurrency and Legacy markets for
                    over a year and now they are finally available to the public.
                    <span class="hidden">Each package contains a
                        coordinated system of indicators to enhance your trading capabilities by giving you real time,
                        actionable signals.</span>
                </p>
                <a href="#pricing" class="button primary">PLANS</a>

            </div>
            <div class="illustration desktopOnly">
                <img src="svg/investing.svg" alt="">
            </div>
        </div>
    </section>
    <section data-scroll id="pricing">
        <h3>What plans do we have for your growth?</h3>
        <div class="wrapper">
            <!-- FIRST PLAN -->
            <div class="item box">
                <div class="title">
                    <h3>Basic</h3>
                    <p>For those who are just starting out</p>
                </div>
                <div class="details">

                    <p class="price">$<span>100</span>/mo</p>
                    <p>Lorem ipsum dolor sit amet.</p>
                    <ul>
                        <li><i class="fa fa-check" aria-hidden="true"></i>

                            One Trading Suite Package (One of Four possible)</li>
                        <i class="fa fa-check" aria-hidden="true"></i>
                        <li>
                            Access to Members Section of
                            the Discord</li>

                    </ul>
                    <button id="basicButton" class="button secondary cta">BUY NOW</button>
                    <!-- <div class="cta"><a href="/checkout" class="button secondary">BUY NOW</a></div> -->
                </div>
            </div>
            <!-- SECOND -->
            <div class="item box">
                <div class="title">
                    <h3>Premium</h3>
                    <p>There's still a lot to learn</p>
                </div>
                <div class="details">

                    <p class="price">$<span>200</span>/mo</p>
                    <p>Lorem ipsum dolor sit amet.</p>
                    <ul>
                        <li><i class="fa fa-check" aria-hidden="true"></i>

                            Access to ALL Trading Suite Packages (Four)</li>
                        <i class="fa fa-check" aria-hidden="true"></i>
                        <li>
                            Access to Members Section of
                            Discord</li>

                        <li> <i class="fa fa-check" aria-hidden="true"></i>
                            Access to New Lessons</li>
                    </ul>
                    <button id="premiumButton" class="button secondary cta">BUY NOW</button>

                    <!-- <div class="cta"><a href="/checkout" class="button secondary">BUY NOW</a></div> -->
                </div>
            </div>
            <!-- THIRD -->
            <div class="item box">
                <div class="title">
                    <h3>VIP</h3>
                    <p>You know what you're doing!</p>
                </div>
                <div class="details">

                    <p class="price">$<span>2000</span>/year</p>
                    <p>Lorem ipsum dolor sit amet.</p>
                    <ul>
                        <li>
                            <i class="fa fa-check" aria-hidden="true"></i>
                            All Premium Features </li>
                        <li><i class="fa fa-check" aria-hidden="true"></i>

                            One Hour Lesson with Flood (@ThinkingUSD)</li>
                        <i class="fa fa-check" aria-hidden="true"></i>
                        <li>
                            Beta
                            Access to all future Indicators at no extra charge,</li>

                        <li> <i class="fa fa-check" aria-hidden="true"></i>
                            Direct Line of Communication to
                            developers of Insilico</li>
                    </ul>
                    <button id="vipButton" class="button secondary cta">BUY NOW</button>
                    <!-- <div class="cta"><a href="/checkout" class="button secondary">BUY NOW</a></div> -->
                </div>
            </div>
        </div>
        <h3>Taking your trading to the next level</h3>
        <div class="illustration">
            <img src="images/chart3.png" alt="">
        </div>
    </section>
    <!-- POP UP CODE -->
    <div id="popup" class="hidden">
        <h3><span id="packageTitle">Premium</span> Package</h3>
        <h2><span id="usdAmount">0</span> USD = <span id="bitcoinAmount">0</span> BTC</h2>
        <h2 class="desktopOnly">One of our representatives will reach you to set your tradingview account manually</h2>
        <img src="images/qr.JPG" alt="">
        <p>125tW55WQtp2VMbdyEFNCCt6rtjPK9DZzV</p>
        <p>Please contact via our <a href="/contact">contact form</a> or via e-mail at support@insilico.com</p>
        <button id="hidePopUp" class="button primary">Back</button>
    </div>


    <!-- END OF POPUP -->

    <div data-scroll class="alt" id="testimonials">
        <h3>what do our partners think about us?</h3>
        <div class="wrapper">
            <div class="card">
                <div class="top">
                    <p>
                        <span class="quote">“</span>
                        I’ve used Insilico over the past year for my day trading and it has been a big factor in the
                        majority of my trading decisions. I
                        can’t recommend it enough <span class="quote closing">„</span>
                    </p>
                </div>
                <div class="bottom">
                    <div class="text">
                        <h2>Flood </h2>
                        <h2><span><a href="https://twitter.com/thinkingusd">@ThinkingUSD</a></span></h2>
                        <div class="stars hidden"> <i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="top">
                    <p>
                        <span class="quote">“</span>
                        Insilico’s indicators compliment my current trading system by providing accurate signals that
                        confirm what I’m already seeing on the charts.
                        <span class="quote closing">„</span>
                    </p>
                </div>
                <div class="bottom">
                    <div class="text">
                        <h2>Zoran</h2>
                        <h2><span><a href="https://twitter.com/captain_kole1">@Captain_Kole1</a></span></h2>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="top">
                    <p>
                        <span class="quote">“</span>
                        Their tools are robust and help me make split
                        second decisions that improve my win rate. If you’re a trader looking to take
                        your profitability to the next level<span class="quote closing">„</span>
                    </p>
                </div>
                <div class="bottom">
                    <div class="text">
                        <h2>Zoran</h2>
                        <h2><span>@Captain_Kole1</span></h2>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<%- include('partials/footer'); %>
