<%- include('partials/header'); %>
<img src="svg/form.svg" class="bgIllustration" alt="">
<section id="form">
    <h3>Log Into Your Account</h3>
    <div class="wrapper box">
        <form action="/login" method="post" id="contactForm">
            <label for="username">username</label>
            <input type="text" name="username" required>
            <label for="password">Password</label>
            <input type="password" name="password" required>
            <button class="button primary">Sign In</button>
            <p>Don't Already Have An Account? <br><a href="/register"> Sign Up</a></p>
        </form>
    </div>
</section>
<%- include('partials/footer'); %>
