<%- include('partials/header'); %>
<section id="faq">
    <div class="accordion">
        <button class="accordionButton">Lorem ipsum dolor sit.</button>
        <div class="accordionContent">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit cumque facilis enim doloremque consectetur saepe libero itaque porro culpa expedita.</div>
    </div>
</section>
<%- include('partials/footer'); %>
<!-- MzAyNTgz Trend Buddy
MzAyNTc4 PAL
MzAyNTc5 Heuristics
MzAyNTgy FSVZO
MzAzMDQy Crayons
MzAyNTc2 Genie -->
