<%- include('partials/header'); %>
<section id="lesson">
    <h3>Trend Buddy</h3>
    <div class="wrapper box">
        <iframe allow="autoplay" class="video-player-container vooplayer" data-playerId="MzAyNTgz"
            allowtransparency="true" style="max-width:100%" name="vooplayerframe" allowfullscreen="true" src=""
            watch-type="" url-params="" frameborder="0" scrolling="no"> </iframe>

    </div>
</section>
<%- include("partials/tutorials") %>

<%- include('partials/footer'); %>
<!-- MzAyNTgz Trend Buddy
MzAyNTc4 PAL
MzAyNTc5 Heuristics
MzAyNTgy FSVZO
MzAzMDQy Crayons
MzAyNTc2 Genie -->
