<%- include('partials/header'); %>
<div class="video">
    <iframe allow="autoplay" class="vooplayer" data-playerId="MzAyNTgz" frameborder="0"></iframe>
</div>
<%- include('partials/footer'); %>
<!-- MzAyNTgz Trend Buddy
MzAyNTc4 PAL
MzAyNTc5 Heuristics
MzAyNTgy FSVZO
MzAzMDQy Crayons
MzAyNTc2 Genie -->
