<%- include('partials/header'); %>
<section id="faq">
    <div class="popup">
        <h3>100 USD = 0.0022 BTC</h3>
        <h2>One of our representatives will reach you to set your tradingview account manually</h2>
        <img src="images/qr.jpg" alt="">
        <p>125tW55WQtp2VMbdyEFNCCt6rtjPK9DZzV</p>
        <p>Please contact via our <a href="/contact">contact form</a> or via e-mail at support@insilico.com</p>
        <button class="button primary">Back</button>
    </div>
</section>
<%- include('partials/footer'); %>
<!-- MzAyNTgz Trend Buddy
MzAyNTc4 PAL
MzAyNTc5 Heuristics
MzAyNTgy FSVZO
MzAzMDQy Crayons
MzAyNTc2 Genie -->
