<%- include('partials/header'); %>
<img src="svg/form.svg" class="bgIllustration" alt="">
<section id="form">
    <h3>Reset Your Password</h3>
    <div class="wrapper box">
        <form action="/reset/<%= token %>" method="POST" id="contactForm">
            <label for="password">New Password</label>
            <input type="password" name="password" value="" placeholder="New password" autofocus="autofocus"
                class="form-control" />
            <label for="confirm">Confirm Password</label>
            <input type="password" name="confirm" value="" placeholder="Confirm password" class="form-control" />
            <button type="submit" class="button primary">Update Password</button>
        </form>
    </div>
</section>
<%- include('partials/footer'); %>
