<%- include('partials/header'); %>
<section id="form">
    <h3>Thank You For Your Purchase</h3>
    <div class="wrapper box">
    <h2>Please contact us in order to set up your TradingView Account</h2>
    <a class="button primary " href="/contact">Contact</a>
    </div>
    
</section>
<%- include('partials/footer'); %>
