<%- include('partials/header'); %>
<section id="thankyou">
    <h3>Thank You!</h3>
    <p>please contact us in order to set up your TradingView Account</p>
    <a class="button primary " href="/contact">Contact</a>
</section>
<%- include('partials/footer'); %>
