@charset "UTF-8";
#checkout {
  /* Variables */
  /* Base */
  /* Layout */
  /* Form */
  /* Inputs */
  /* Checkbox */
  /* Select */
  /* Combo inputs */
  /* Buttons and links */
  /* Code block */
  /* Stripe Element placeholder */
  /* Responsiveness */
  /* Pasha styles – Brand-overrides, can split these out */
  /* todo: spinner/processing state, errors, animations */
  /* Animated form */
  /* need saas for loop :D  */
}

#checkout :root {
  --gray-offset: rgba(0, 0, 0, 0.03);
  --gray-border: rgba(0, 0, 0, 0.15);
  --gray-light: rgba(0, 0, 0, 0.4);
  --gray-mid: rgba(0, 0, 0, 0.7);
  --gray-dark: rgba(0, 0, 0, 0.9);
  --body-color: var(--gray-mid);
  --headline-color: var(--gray-dark);
  --accent-color: #0066f0;
  --body-font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  --radius: 6px;
  --logo-image: url('https://storage.googleapis.com/stripe-sample-images/KAVHOLM.svg');
  --form-width: 343px;
}

#checkout * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#checkout body {
  font-family: var(--body-font-family);
  font-size: 16px;
  color: var(--body-color);
  -webkit-font-smoothing: antialiased;
}

#checkout h1 {
  font-size: 27px;
  color: var(--headline-color);
}

#checkout h4 {
  font-weight: 500;
  font-size: 14px;
  color: var(--gray-light);
}

#checkout .sr-root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  max-width: 980px;
  padding: 48px;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: auto;
  min-height: 100vh;
  margin: 0 auto;
}

#checkout .sr-header {
  margin-bottom: 32px;
}

#checkout .sr-payment-summary {
  margin-top: 20px;
  margin-bottom: 20px;
}

#checkout .sr-main,
#checkout .sr-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  -ms-flex-item-align: center;
      align-self: center;
}

#checkout .sr-main {
  width: var(--form-width);
}

#checkout .sr-content {
  padding-left: 48px;
}

#checkout .sr-header__logo {
  background-image: var(--logo-image);
  height: 24px;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
}

#checkout .sr-legal-text {
  color: var(--gray-light);
  text-align: center;
  font-size: 13px;
  line-height: 17px;
  margin-top: 12px;
}

#checkout .sr-field-error {
  color: var(--accent-color);
  text-align: left;
  font-size: 13px;
  line-height: 17px;
  margin-top: 12px;
}

#checkout .sr-form-row {
  margin: 16px 0;
}

#checkout label {
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 8px;
  display: inline-block;
}

#checkout .sr-input,
#checkout .sr-select,
#checkout input[type='text'] {
  border: 1px solid var(--gray-border);
  border-radius: var(--radius);
  padding: 5px 12px;
  height: 44px;
  width: 100%;
  -webkit-transition: -webkit-box-shadow 0.2s ease;
  transition: -webkit-box-shadow 0.2s ease;
  transition: box-shadow 0.2s ease;
  transition: box-shadow 0.2s ease, -webkit-box-shadow 0.2s ease;
  background: white;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

#checkout .sr-input:focus,
#checkout input[type='text']:focus,
#checkout button:focus,
#checkout .focused {
  -webkit-box-shadow: 0 0 0 1px rgba(50, 151, 211, 0.3), 0 1px 1px 0 rgba(0, 0, 0, 0.07), 0 0 0 4px rgba(50, 151, 211, 0.3);
          box-shadow: 0 0 0 1px rgba(50, 151, 211, 0.3), 0 1px 1px 0 rgba(0, 0, 0, 0.07), 0 0 0 4px rgba(50, 151, 211, 0.3);
  outline: none;
  z-index: 9;
}

#checkout .sr-input::-webkit-input-placeholder,
#checkout input[type='text']::-webkit-input-placeholder {
  color: var(--gray-light);
}

#checkout .sr-input:-ms-input-placeholder,
#checkout input[type='text']:-ms-input-placeholder {
  color: var(--gray-light);
}

#checkout .sr-input::-ms-input-placeholder,
#checkout input[type='text']::-ms-input-placeholder {
  color: var(--gray-light);
}

#checkout .sr-input::placeholder,
#checkout input[type='text']::placeholder {
  color: var(--gray-light);
}

#checkout .sr-checkbox-label {
  position: relative;
  cursor: pointer;
}

#checkout .sr-checkbox-label input {
  opacity: 0;
  margin-right: 6px;
}

#checkout .sr-checkbox-label .sr-checkbox-check {
  position: absolute;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: white;
  border: 1px solid var(--gray-border);
  border-radius: 4px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

#checkout .sr-checkbox-label input:focus ~ .sr-checkbox-check {
  -webkit-box-shadow: 0 0 0 1px rgba(50, 151, 211, 0.3), 0 1px 1px 0 rgba(0, 0, 0, 0.07), 0 0 0 4px rgba(50, 151, 211, 0.3);
          box-shadow: 0 0 0 1px rgba(50, 151, 211, 0.3), 0 1px 1px 0 rgba(0, 0, 0, 0.07), 0 0 0 4px rgba(50, 151, 211, 0.3);
  outline: none;
}

#checkout .sr-checkbox-label input:checked ~ .sr-checkbox-check {
  background-color: var(--accent-color);
  background-image: url("https://storage.googleapis.com/stripe-sample-images/icon-checkmark.svg");
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: -1px -1px;
}

#checkout .sr-select {
  display: block;
  height: 44px;
  margin: 0;
  background-image: url("https://storage.googleapis.com/stripe-sample-images/icon-chevron-down.svg");
  background-repeat: no-repeat, repeat;
  background-position: right 12px top 50%, 0 0;
  background-size: 0.65em auto, 100%;
}

#checkout .sr-select::-ms-expand {
  display: none;
}

#checkout .sr-select:hover {
  cursor: pointer;
}

#checkout .sr-select:focus {
  -webkit-box-shadow: 0 0 0 1px rgba(50, 151, 211, 0.3), 0 1px 1px 0 rgba(0, 0, 0, 0.07), 0 0 0 4px rgba(50, 151, 211, 0.3);
          box-shadow: 0 0 0 1px rgba(50, 151, 211, 0.3), 0 1px 1px 0 rgba(0, 0, 0, 0.07), 0 0 0 4px rgba(50, 151, 211, 0.3);
  outline: none;
}

#checkout .sr-select option {
  font-weight: 400;
}

#checkout .sr-select:invalid {
  color: var(--gray-light);
}

#checkout .sr-combo-inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#checkout .sr-combo-inputs input,
#checkout .sr-combo-inputs .sr-select {
  border-radius: 0;
  border-bottom: 0;
}

#checkout .sr-combo-inputs > input:first-child,
#checkout .sr-combo-inputs > .sr-select:first-child {
  border-radius: var(--radius) var(--radius) 0 0;
}

#checkout .sr-combo-inputs > input:last-child,
#checkout .sr-combo-inputs > .sr-select:last-child {
  border-radius: 0 0 var(--radius) var(--radius);
  border-bottom: 1px solid var(--gray-border);
}

#checkout .sr-combo-inputs > .sr-combo-inputs-row:first-child input:first-child {
  border-radius: var(--radius) 0 0 0;
}

#checkout .sr-combo-inputs > .sr-combo-inputs-row:first-child input:last-child {
  border-radius: 0 var(--radius) 0 0;
}

#checkout .sr-combo-inputs-row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#checkout .sr-combo-inputs-row > input {
  width: 100%;
  border-radius: 0;
}

#checkout .sr-combo-inputs > .sr-combo-inputs-row:first-child input:last-child {
  border-radius: var(--radius) var(--radius) 0 0;
}

#checkout .sr-combo-inputs-row:not(:first-of-type) .sr-input {
  border-radius: 0 0 var(--radius) var(--radius);
}

#checkout button#submit {
  background: var(--accent-color);
  border-radius: var(--radius);
  color: white;
  border: 0;
  padding: 12px 16px;
  margin-top: 16px;
  font-weight: 600;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  display: block;
}

#checkout button:hover {
  -webkit-filter: contrast(115%);
          filter: contrast(115%);
}

#checkout button:active {
  -webkit-transform: translateY(0px) scale(0.98);
          transform: translateY(0px) scale(0.98);
  -webkit-filter: brightness(0.9);
          filter: brightness(0.9);
}

#checkout button:disabled {
  opacity: 0.5;
  cursor: none;
}

#checkout .sr-payment-form button,
#checkout .fullwidth {
  width: 100%;
}

#checkout a {
  color: var(--accent-color);
  text-decoration: none;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

#checkout a:hover {
  -webkit-filter: brightness(0.8);
          filter: brightness(0.8);
}

#checkout a:active {
  -webkit-filter: brightness(0.5);
          filter: brightness(0.5);
}

#checkout .sr-callout {
  background: var(--gray-offset);
  padding: 12px;
  border-radius: var(--radius);
  max-height: 400px;
  max-width: 600px;
  overflow: auto;
}

#checkout code,
#checkout pre {
  font-family: 'SF Mono', 'IBM Plex Mono', 'Menlo', monospace;
  font-size: 14px;
  overflow-x: auto;
  white-space: pre-wrap;
}

#checkout .sr-card-element {
  padding-top: 12px;
}

@media (max-width: 720px) {
  #checkout .sr-root {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 48px 20px;
    min-width: 320px;
  }
  #checkout .sr-header__logo {
    background-position: center;
  }
  #checkout .sr-payment-summary {
    text-align: center;
  }
  #checkout .sr-content {
    display: none;
  }
  #checkout .sr-main {
    width: 100%;
  }
}

#checkout :root {
  --accent-color: #ed5f74;
  --headline-color: var(--accent-color);
  --logo-image: url('https://storage.googleapis.com/stripe-sample-images/logo-pasha.svg');
}

#checkout .pasha-image-stack {
  display: -ms-grid;
  display: grid;
  grid-gap: 12px;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
}

#checkout .pasha-image-stack img {
  border-radius: var(--radius);
  background-color: var(--gray-border);
  -webkit-box-shadow: 0 7px 14px 0 rgba(50, 50, 93, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.07);
          box-shadow: 0 7px 14px 0 rgba(50, 50, 93, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.07);
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
  opacity: 0;
}

#checkout .pasha-image-stack img:nth-child(1) {
  -webkit-transform: translate(12px, -12px);
          transform: translate(12px, -12px);
  opacity: 1;
}

#checkout .pasha-image-stack img:nth-child(2) {
  -webkit-transform: translate(-24px, 16px);
          transform: translate(-24px, 16px);
  opacity: 1;
}

#checkout .pasha-image-stack img:nth-child(3) {
  -webkit-transform: translate(68px, -100px);
          transform: translate(68px, -100px);
  opacity: 1;
}

#checkout .sr-root {
  -webkit-animation: 0.4s form-in;
          animation: 0.4s form-in;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}

#checkout .sr-payment-form .sr-form-row {
  -webkit-animation: 0.4s field-in;
          animation: 0.4s field-in;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-transform-origin: 50% 0%;
          transform-origin: 50% 0%;
}

#checkout .sr-payment-form .sr-form-row:nth-child(1) {
  -webkit-animation-delay: 0;
          animation-delay: 0;
}

#checkout .sr-payment-form .sr-form-row:nth-child(2) {
  -webkit-animation-delay: 60ms;
          animation-delay: 60ms;
}

#checkout .sr-payment-form .sr-form-row:nth-child(3) {
  -webkit-animation-delay: 120ms;
          animation-delay: 120ms;
}

#checkout .sr-payment-form .sr-form-row:nth-child(4) {
  -webkit-animation-delay: 180ms;
          animation-delay: 180ms;
}

#checkout .sr-payment-form .sr-form-row:nth-child(5) {
  -webkit-animation-delay: 240ms;
          animation-delay: 240ms;
}

#checkout .sr-payment-form .sr-form-row:nth-child(6) {
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
}

#checkout .hidden {
  display: none;
}

#checkout .loading {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

#checkout .sr-plans {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 600px;
}

#checkout .sr-plan {
  border: 1px solid #e8e8e8;
  border-radius: 6px;
  margin-right: 25px;
  height: 226px;
  width: 257px;
}

#checkout .sr-plan-inner {
  margin: 28px;
}

#checkout .sr-plan-name {
  color: #a6a6a6;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0px;
}

#checkout .sr-plan-text {
  color: #999999;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0px;
  line-height: 14px;
}

#checkout .sr-plan-button {
  border: 2px solid #ed5f74;
  border-radius: 7px;
}

@-webkit-keyframes field-in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(8px) scale(0.95);
            transform: translateY(8px) scale(0.95);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px) scale(1);
            transform: translateY(0px) scale(1);
  }
}

@keyframes field-in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(8px) scale(0.95);
            transform: translateY(8px) scale(0.95);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px) scale(1);
            transform: translateY(0px) scale(1);
  }
}

@-webkit-keyframes form-in {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes form-in {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
/*# sourceMappingURL=global.css.map */