.box {
  -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
          box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

p {
  font-family: 'Nunito', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 70%;
  margin: auto;
  color: #f6f6f6;
}

.hidden {
  display: none;
}

.bg {
  width: 100vw;
  height: 100%;
  background: linear-gradient(246.03deg, #5790E2 1.52%, #4D428E 96.76%);
  z-index: -1;
  position: fixed;
}

body #navbar {
  width: 100%;
  text-transform: uppercase;
  font-weight: bold;
  position: fixed;
  top: 0;
  z-index: 1;
}

body #navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 0;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 0;
  background-color: #f6f6f6;
}

body #navbar ul li {
  padding: 1em .6em;
}

body #navbar ul #logo {
  margin-right: 120px;
}

body #navbar ul #logo img {
  width: 100px;
  position: absolute;
  margin-top: -20px;
  background-color: #f6f6f6;
  -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
}

body #navbar ul #elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  letter-spacing: 0.1em;
}

body #navbar ul #buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body #navbar ul #buttons li {
  padding: 0;
  margin: auto .5em;
}

#elements a {
  position: relative;
  color: #000;
}

#elements a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

#elements a:hover::before {
  visibility: visible;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.button {
  text-transform: uppercase;
  padding: .5em 1em;
  border-radius: 5px;
  -webkit-transition: background-color 300ms;
  transition: background-color 300ms;
  border: 2px solid;
  font-weight: 600;
  outline: none;
}

.button.good {
  background-color: #2AD1A7;
  color: #f6f6f6;
  border-color: #2AD1A7;
}

.button.good:hover {
  background-color: #f6f6f6;
  color: #2AD1A7;
}

.button.secondary {
  background-color: #f6f6f6;
  border-color: #2AD1A7;
  color: #2AD1A7;
}

.button.secondary:hover {
  background-color: #2AD1A7;
  color: #f6f6f6;
}

.button.cta {
  background-color: #4D428E;
  color: #f6f6f6;
  border-color: #4D428E;
}

.button.cta:hover {
  background-color: #f6f6f6;
  color: #4D428E;
}

#home {
  height: 100vh;
}

#home .container {
  padding-top: 3em;
}

#home .container .content {
  padding-top: 5em;
  width: 60%;
  text-align: center;
}

.illustration img {
  margin-right: 10%;
  float: right;
  width: 500px;
}

#ticker {
  background-color: #120A45;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  width: 100%;
  color: white;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#ticker ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 5px;
  padding: 0;
}

#ticker ul li {
  padding: .5em .5em;
  background-color: #251B61;
}

#ticker ul li.bad {
  background-color: #FF7F33;
}

#ticker ul li.good {
  background-color: #2AD1A7;
}

#features {
  position: relative;
  padding-bottom: 10%;
}

#features .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 90%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1em 0;
}

#features .container .text {
  padding-top: 3em;
  max-width: 40%;
  margin: 2em 2em;
}

#features .container .text.right {
  text-align: right;
}

#features .container .illustration {
  min-width: 50%;
}

#features .container .illustration img {
  width: 100%;
}

#toggleButton {
  padding: 1em 2em;
}
/*# sourceMappingURL=layout copy.css.map */