@font-face {
  font-family: SF-Pro;
  src: url("/fonts/SF-Pro.ttf") format("truetype");
}

form input[type="text"] {
  text-transform: lowercase;
}

form input.capitalize {
  text-transform: capitalize;
}

input:invalid {
  border: solid 1px #ff7f33;
}

.hidden {
  display: none;
}

.desktopOnly {
  display: none;
}

@media (min-width: 900px) {
  .desktopOnly {
    display: inherit;
  }
}

.box {
  -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
          box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
}

body {
  margin: 0;
  padding: 0;
  color: black;
  background-color: #f6f6f6;
  font-family: 'SF-Pro';
  font-weight: 500;
  color: #f6f6f6;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

h3 {
  text-transform: capitalize;
  font-size: 2em;
  text-align: center;
}

ul {
  list-style: none;
}

section {
  /* <----- Smooth Scroll ---- */
  scroll-behavior: smooth;
  padding-top: 50px;
}

@media (min-width: 900px) {
  section {
    min-height: 100vh;
  }
}

.accordionButton {
  opacity: .9;
  display: block;
  width: 100%;
  padding: 1em;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #6557b2ff;
  color: #f6f6f6;
  text-align: left;
  font-size: 1.2em;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.accordionButton.active {
  opacity: 1;
}

.accordionContent {
  overflow: hidden;
  max-height: 0;
  padding: 0 1em;
  -webkit-transition: all .3s;
  transition: all .3s;
}

#bg {
  background: linear-gradient(265.88deg, #5790e2 1.52%, #4d428e 96.76%);
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: -2;
}

.bgIllustration {
  display: none;
  position: absolute;
  z-index: -1;
  width: 100vw;
  height: 100vh;
}

@media (min-width: 900px) {
  .bgIllustration {
    display: block;
  }
}

.container {
  max-width: 90%;
  margin: auto;
}

.video {
  max-width: 300px;
  margin: auto;
  padding: 20%;
}

.button {
  font-family: 'SF-Pro', sans-serif;
  border: none;
  font-size: 16px;
  border-radius: 3px;
  -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
          box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
  padding: .5em 1em;
  text-transform: uppercase;
  font-weight: 500;
  color: inherit;
  outline: none;
  cursor: pointer;
  -webkit-transition: background-color 300ms;
  transition: background-color 300ms;
}

.button.primary {
  background-color: #e74b7fff;
}

.button.primary:hover {
  color: #e74b7fff;
  background-color: #f6f6f6;
}

.button.secondary {
  background-color: #6557b2ff;
}

.button.secondary:hover {
  color: #e74b7fff;
  background-color: #f6f6f6;
}

#mobileNavbar {
  /*
 * Made by Erik Terwan
 * 24th of November 2015
 * MIT License
 */
  /*
 * Just a quick hamburger
 */
  /* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
  /*
 * But let's hide the middle one.
 */
  /*
 * Ohyeah and the last one should go the other direction
 */
  /*
 * Make this absolute positioned
 * at the top left of the screen
 */
  /*
 * And let's slide it in from the left
 */
}

#mobileNavbar #menuToggle {
  background-color: #f6f6f6;
  padding: 1em;
  width: 100vw;
  display: inline-block;
  position: fixed;
  z-index: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  text-transform: uppercase;
}

#mobileNavbar #menuToggle a {
  text-decoration: none;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

#mobileNavbar #menuToggle a:hover {
  color: #f6f6f6;
}

#mobileNavbar #menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  /* hide this */
  z-index: 2;
  /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

#mobileNavbar #menuToggle span {
  text-align: right;
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #6557b2ff;
  border-radius: 3px;
  z-index: 1;
  -webkit-transform-origin: 4px 0px;
          transform-origin: 4px 0px;
  -webkit-transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#mobileNavbar #menuToggle span:first-child {
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
}

#mobileNavbar #menuToggle span:nth-last-child(2) {
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
}

#mobileNavbar #menuToggle input:checked ~ span {
  opacity: 1;
  -webkit-transform: rotate(45deg) translate(-2px, -1px);
          transform: rotate(45deg) translate(-2px, -1px);
  background: #e74b7fff;
}

#mobileNavbar #menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.2, 0.2);
          transform: rotate(0deg) scale(0.2, 0.2);
}

#mobileNavbar #menuToggle input:checked ~ span:nth-last-child(2) {
  -webkit-transform: rotate(-45deg) translate(0, -1px);
          transform: rotate(-45deg) translate(0, -1px);
}

#mobileNavbar #menu {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: #6557b2ff;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  -webkit-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#mobileNavbar #menu li {
  padding: 10px 0;
  font-size: 22px;
}

#mobileNavbar #menuToggle input:checked ~ ul {
  -webkit-transform: none;
          transform: none;
}

@media (min-width: 900px) {
  #mobileNavbar {
    display: none;
  }
}

#home {
  padding-top: 2em;
  min-height: 70vh;
}

#home .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  padding-top: 5em;
  text-align: center;
}

#home .wrapper .illustration img {
  max-width: 70%;
}

#home .button {
  margin: .5em .5em;
}

#home .tradingview-widget-container {
  margin-top: 3em;
}

#features {
  padding: 3em 1em;
  text-align: center;
}

#features .wrapper .text h3 {
  margin: 0;
}

#features .wrapper .text p {
  text-align: left;
}

#features .wrapper .text p.right {
  text-align: right;
}

#features .wrapper .text .button {
  display: block;
  margin: auto;
  margin-bottom: 2em;
  max-width: 150px;
}

#features .wrapper .illustration img {
  max-width: 80%;
}

#pricing .wrapper .item {
  margin: 3em 0;
  background-color: #f6f6f6;
}

#pricing .wrapper .item .title {
  background-color: #6557b2ff;
  padding: 0.5em;
  line-height: 0;
  text-align: center;
}

#pricing .wrapper .item .title h3 {
  text-transform: uppercase;
}

#pricing .wrapper .item .title p {
  opacity: 90%;
}

#pricing .wrapper .item .details {
  color: #040116;
  padding: 1em 4em;
}

#pricing .wrapper .item .details p {
  margin: 0;
}

#pricing .wrapper .item .details .price::first-letter {
  vertical-align: 1.3em;
}

#pricing .wrapper .item .details .price span {
  font-size: 3em;
}

#pricing .wrapper .item .details ul {
  padding: 0;
}

#pricing .wrapper .item .details ul .fa-check {
  position: absolute;
  margin-left: -2em;
  color: #2ad1a7;
}

#pricing .wrapper .item .cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
  color: #f6f6f6;
  font-weight: 600;
  margin: auto;
  cursor: pointer;
}

#pricing .wrapper .item .cta:hover {
  color: #6557b2ff;
}

#pricing .wrapper .item .cta a.button {
  margin: 0 auto;
  padding: 1em 2em;
}

#pricing .illustration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#pricing .illustration img {
  max-width: 70%;
}

#tutorials {
  padding-top: 20%;
}

#tutorials h3 {
  display: none;
}

#tutorials .wrapper .lessonBox a img {
  max-width: 100vw;
}

#tutorials .wrapper .lessonBox .title {
  margin: 0 1em;
}

#tutorials .wrapper .lessonBox .title h2 {
  margin-top: 0;
  margin-bottom: 0;
}

#tutorials .wrapper .lessonBox .title p {
  font-size: 1.2em;
  margin-top: 0;
  opacity: 60%;
}

#testimonials .card {
  margin: 1em 0;
}

#testimonials .card .top {
  background-color: #6557b2ff;
  padding: 1em;
  font-size: 1.4em;
  text-align: center;
}

#testimonials .card .top p {
  margin: 0;
}

#testimonials .card .top .quote {
  font-weight: 800;
}

#testimonials .card .bottom {
  padding: 1em 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #f6f6f6;
  color: #040116;
}

#testimonials .card .bottom .text {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#testimonials .card .bottom .text h2 {
  margin: 0;
}

#testimonials .card .bottom .text h2 span {
  opacity: 80%;
  font-size: .9em;
}

#testimonials .card .bottom .stars {
  color: #ff7f33;
}

#footer ul {
  padding: 0;
  margin: 0;
}

#footer li {
  padding: 1em;
}

#footer li h2,
#footer li p {
  margin: 0;
}

#footer li p {
  text-indent: 1em;
}

#footer p#tm {
  text-align: center;
  opacity: 80%;
}

#form {
  width: 95%;
  max-width: 500px;
  margin: auto;
  padding-top: 50px;
}

#form .wrapper {
  background-color: #6557b2ff;
  padding: 2em;
}

#form .wrapper #contactForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

#form .wrapper #contactForm a {
  color: #2ad1a7;
  font-size: 1.2em;
}

#form .wrapper #contactForm label {
  text-transform: capitalize;
}

#form .wrapper #contactForm > * {
  padding: .5em 1em;
  outline: none;
}

#form .wrapper #contactForm input {
  font-size: 18px;
}

#form .wrapper #contactForm .button {
  width: 50%;
  margin: auto;
  margin-top: 1em;
  padding: .5em;
  font-size: 1.2em;
}

#account .wrapper.left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#account .wrapper.left img {
  width: 50px;
  border-radius: 50%;
  margin: 0 1em;
}

#account .wrapper.left ul {
  width: 100vw;
  padding: 0;
  text-align: center;
}

#account .wrapper.right .form form {
  padding: 1em 4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

#account .wrapper.right .form form input {
  padding: .5em;
  margin: 1em 0;
}

#lesson .container {
  margin: 0;
}

#lesson .container .videoWrapper {
  width: 100vw;
}

#lesson .container .videoWrapper .accordionButton {
  background: none;
}

#lesson .container .videoWrapper .accordionButton span {
  float: right;
  opacity: 80%;
  font-weight: 500;
}

#lesson .container h2 {
  padding-left: 1em;
}

#lesson .container .wrapper .lessonBox a {
  margin: auto;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#lesson .container .wrapper .lessonBox a img {
  max-width: 45%;
  margin: .5em 0;
}

#lesson .container .wrapper .lessonBox a .title {
  min-width: 45%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#lesson .container .wrapper .lessonBox a .title h2 {
  font-size: 1em;
}

#popup {
  padding: 2em 5%;
  text-align: center;
  z-index: 2;
  background-color: #6557b2ff;
  position: fixed;
  top: 10%;
  bottom: 5%;
  left: 10%;
  right: 10%;
  -webkit-transition-duration: display 1s;
          transition-duration: display 1s;
}

#popup h3 {
  font-weight: 500;
  padding: 0;
}

#popup h2 {
  font-size: 1.2em;
}

#popup img {
  min-width: 200px;
  max-width: 20%;
}

#popup a {
  color: #2ad1a7;
}

#popup p {
  word-break: break-word;
}

#navbar {
  width: 100%;
  text-transform: uppercase;
  font-weight: 500;
  position: fixed;
  letter-spacing: 1px;
  top: 0;
  z-index: 1;
  margin: 0;
  padding: 0;
  background: -webkit-linear-gradient(244.48deg, #73a4e7ff 1.52%, #6557b2ff 96.76%);
  max-height: 50px;
}

@media (min-width: 900px) {
  #navbar {
    display: inline-block;
  }
}

#navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0;
}

#navbar ul #elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#navbar ul #elements li {
  padding: 0 1.5em;
}

#navbar ul #logo {
  margin-top: -15px;
}

#navbar ul #logo img {
  width: 50px;
}

#navbar ul #buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#navbar ul #buttons li {
  padding: 0 .5em;
}

@media (min-width: 900px) {
  #home {
    padding-top: 10%;
  }
  #home p {
    padding: 1em .5em;
  }
  #home .wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding-bottom: 3em;
  }
  #home .wrapper .content {
    max-width: 50%;
  }
  #home .wrapper .tradingTickers {
    -ms-flex-item-align: end;
        align-self: flex-end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: black;
    border-radius: 10px;
  }
  #features {
    padding-top: 10%;
  }
  #features .wrapper {
    padding: 0 0 10em 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  #features .wrapper.last {
    padding: 0;
  }
  #features .wrapper.alt {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  #features .wrapper .text {
    width: 40%;
    text-align: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  #features .wrapper .illustration img {
    width: 500px;
  }
  #features .wrapper .desktopOnly {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #pricing {
    min-height: 100%;
  }
  #pricing li {
    line-height: 1.5;
  }
  #pricing .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  #pricing .wrapper .item {
    margin: 1em;
    max-width: 30%;
  }
  #testimonials {
    padding-top: 3em;
  }
  #testimonials .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #testimonials .wrapper .card {
    margin: 1em;
    max-width: 30%;
  }
  #testimonials .wrapper .card .top {
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  #testimonials .wrapper .card .bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #testimonials .wrapper .card .bottom .avatar {
    margin: 0;
  }
  #faq .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #faq .wrapper .item {
    margin: 1em;
    text-align: center;
    max-width: 500px;
  }
  #form {
    margin: auto;
    padding-top: 10vh;
  }
  #form h2 {
    color: #e74b7fff;
  }
  #form h3 {
    background-color: #6557b2ff;
    padding: .5em;
  }
  #account .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: flex;
        flex-wrap: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #account .container .wrapper {
    margin: 1em;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  #account .container .wrapper.left {
    width: 200px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    padding: 2em;
    background-color: #6557b2ff;
  }
  #account .container .wrapper.right .box {
    padding: 1em;
    margin: 1em;
    background-color: #6557b2ff;
  }
  .links ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .links ul li {
    max-width: 25%;
  }
  #lesson {
    padding-top: 10vh;
  }
  #lesson .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: auto;
    min-width: 95%;
  }
  #lesson .container .videoWrapper {
    max-width: 70%;
  }
  #lesson .container .videoWrapper .accordionButton {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: .5em;
  }
  #lesson .container .videoWrapper .accordionButton span {
    background-color: #6557b2ff;
    padding: .5em 1em;
  }
  #lesson .container .wrapper {
    max-width: 25%;
  }
  #lesson .container .wrapper .lessonBox a {
    max-width: 100%;
    margin: 0;
    margin-left: 2em;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
  #lesson .container .wrapper .lessonBox a h2 {
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
  }
  #tutorials {
    padding-top: 5%;
  }
  #tutorials h3 {
    display: block;
  }
  #tutorials .wrapper {
    margin: auto;
    padding: 1em 2em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #tutorials .wrapper .lessonBox {
    margin: 1em;
    max-width: 350px;
  }
  #tutorials .wrapper .lessonBox a img {
    max-width: 100%;
  }
  #tutorials .wrapper .lessonBox a h2 {
    font-size: 1.2em;
  }
}

[data-scroll] {
  -webkit-transition: all 2s;
  transition: all 2s;
  overflow: hidden;
}

[data-scroll="in"] {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

[data-scroll="out"] {
  opacity: 0;
  -webkit-transform: translateX(-200px);
          transform: translateX(-200px);
}
/*# sourceMappingURL=layout.css.map */