<table width="100%" cellpadding="0" cellspacing="0" border="0">
    <tbody>
        <tr>
            <td width="100%">
                <div style="max-width:600px;Margin:0 auto">
                    <table align="center" cellpadding="0" cellspacing="0"
                        style="border-spacing:0;font-family:gt-eesti,ArialMT,Helvetica,Arial,sans-serif;Margin:0 auto;padding:24px;width:100%;max-width:500px">
                        <tbody>
                            <tr>
                                <td>
                                    <table style="margin-bottom:40px;width:100%" width="100%">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <a href="/public/svg/logo.svg"
                                                        style="font-family:Helvetica,Arial,sans-serif;color:#6557b2"
                                                        target="_blank">
                                                        <img src="/public/svg/logo.svg" style="display:block"
                                                            alt="Insilico" width="200" height="65" />
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align:justify;word-break:break-word">
                                    <table style="margin-bottom:20px;width:100%" width="100%">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <table style="width:100%;margin-bottom:20px" width="100%"
                                                        cellpadding="0" cellspacing="0">
                                                        <tbody>
                                                            <tr>
                                                                <td>

                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    </center>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>