<style>
    h1,
    h2,
    h3 {
        line-height: 30px;
        color: #6557b2;
        word-break: normal;
        font-family: sans-serif;
        font-weight: 300;
    }

    a {
        color: #6557b2;
    }
</style>
<table width="100%" cellpadding="0" cellspacing="0" border="0">
    <tbody>
        <tr>
            <td width="100%">
                <div style="max-width:600px;Margin:0 auto">
                    <table align="center" cellpadding="0" cellspacing="0"
                        style="border-spacing:0;font-family:sans-serif;Margin:0 auto;padding:24px;width:100%;max-width:500px">
                        <tbody>

                            <!-- Padded button
    <table border="0" cellpadding="0" cellspacing="0" role="presentation"
        style="border-collapse:separate;line-height:100%;">
        <tr>
            <td align="center" bgcolor="#6557b2" role="presentation"
                style="border:none;border-radius:6px;cursor:auto;padding:11px 20px;background:#6557b2;" valign="middle">
                <a href="#"
                    style="background:#6557b2;color:#f7f7f7;font-family:Helvetica, sans-serif;font-size:18px;font-weight:600;line-height:120%;Margin:0;text-decoration:none;text-transform:none;"
                    target="_blank">
                    Reset
                </a>
            </td>
        </tr>
    </table> -->